<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facebook Login Example</title>
</head>
<body>

<h2>Add Facebook Login to your webpage</h2>

<p id="profile"></p>
<div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>
<script>

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    window.fbAsyncInit = function() {
        FB.init({
            appId            : '123456789', // 여기에 본인의 앱 ID를 입력
            xfbml            : true,
            version          : 'v18.0' // 여기에 본인의 Graph API 버전을 입력
        });
        FB.login(function(response) {
            if (response.authResponse) {
                const accessToken = response.authResponse.accessToken;
                console.log('Welcome! Fetching your information.... ');
                FB.api('/me', {fields: 'name, email'}, function(response) {
                    document.getElementById("profile").innerHTML = "Good to see you, " + response.name + ". I see your email address is " + response.email;
                    sendToServer(response, accessToken);
                });
            } else {
                console.log('User cancelled login or did not fully authorize.');
            }
        },
        {
            scope:      //권한 설정
                'read_insights,pages_show_list,business_management,instagram_basic,instagram_content_publish\n,pages_read_engagement,pages_manage_metadata,pages_manage_posts',
        });
    };

    function sendToServer(response, token) {

        const payload = {
            user : response,
            accessToken: token
        };

        console.log('sendToServer called with:', response); // 디버깅을 위한 로그 추가
        fetch('/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(payload)
        })
            .then(response => response.text())
            .then(data => {
                console.log('Server response:', data);
            })
            .catch(error => {
                console.error('Error sending to server:', error);
            });
    }
</script>

</body>
</html>
